

.button__container{
  width: 45px;
  height: 45px;
  transition: 0.2s;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* position: absolute; */
}

.button__container:hover{
  width: 55px;
  height: 55px;
}

.link__router{
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: transparent;
}

.material-symbols-outlined{
  background-color: var(--primary-color);
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  color: #0d0d0d;
  font-size: 30px;
  transition: font-size 0.2s;
}

.material-symbols-outlined:hover{
  font-size: 40px;
}