*{
    margin: 0;
    padding: 0;
    font-family: Roboto Condensed;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: #D3D3D3;

}


#container{
    display: flex;
    padding: 2em 0 0 0;
    height: auto;

}




#titulo{
    color: #0D0D0D;
    text-align: center;
    font-size: 8em;
    position: absolute;

}

#subtitulo{
    color: #0D0D0D;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    padding: 0 38px 0  38px;

}


#coluna-logo{

    width: 75%;
}

#logo{
    content: url("/home/images/logo.png");
    width: 70%;
    margin-left: 3em;
}




#coluna-barra{
    position: relative;
    z-index: 2; /*define a ordem de sobreposicão dos elementos quanto maior o numero define qual item vai ficar sobreposto*/
    width: 25%;
    padding: 8em 8em 0 0;

}

/*Navegação*/
#nav {

    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: flex-end;
}


#nav li  {

    margin-bottom: 1em;
}

.opcoes a{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.7em;
    background: #0D0D0D;
    box-shadow: 0px 4px 4px 0px rgba(13, 13, 13, 0.30);
    border-radius: 50%;
    font-size: 24px;



}

a{

    text-decoration: none;
}



.opcoes a:hover{

    color: #0D0D0D;
    justify-content: space-between;
    background-color: #50C878;
    width: 18rem;
    border-radius: 50px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;


}

.icon {
    color: #91F2A0;
    width: 30px;
    height: 30px;

}


    /* deixa o icone da cor preta no hover */
.opcoes a:hover .icon {
    color: #0D0D0D;
}

.certificado a:hover::before {
    padding-left: 10px;
    content: "Certificado";
}
.transparente a:hover::before {
    padding-left: 10px;
    content: "Cores (Background)";
}
.paleta a:hover::before {
    padding-left: 10px;
    content: "Cores (Paleta)";
}
.codigo a:hover::before {
    padding-left: 10px;
    content: "Código";
}
.seguranca a:hover::before {
    padding-left: 10px;
    content: "Segurança";
}
.apoie a:hover::before {
    padding-left: 10px;
    content: "Apoie";
}
.config a:hover::before {
    padding-left: 10px;
    content: "Configuração";
}


/*Linhas esquerda e direita*/

.linhas-esquerda {
    position: absolute;
    z-index: 1; /*define a ordem de sobreposicão dos elementos quanto maior o numero define qual item vai ficar sobreposto*/
    left: 0;
    right: 50%;
    top: 0;
    height: 100%;
}

  .vertical-esq {
    position: absolute;
    border-left: 3px solid black;
    height: 50%;
    margin-left: 38px;
    margin-top: 38px;
  }

  .horizontal-esq {
    width: 95%;
    border-top: 3px dotted black;
    border-spacing:3px;
    margin-left: 45px;
    margin-top: 38px;
  }


.linhas-direita {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    height: 100%;
}

    .vertical-dir {
    position: absolute;
    border-left: 3px solid black;
    height: 50%;
    margin-right: 38px;
    bottom: 38px;
    right: 0;
  }

    .horizontal-dir {
    position: absolute;
    width: 95%;
    border-bottom: 3px dotted black;
    margin-left: auto;
    margin-right: 45px;
    left: 0;
    right: 0;
    bottom: 38px;
  }

/*Rodapé*/

footer{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    margin: 20px;
    padding: 0 8px;
}



#marca{
    font-size: 18px;
    position: absolute;
    bottom: 38px;

}

/* resolução de um monitor hd */
@media screen and (max-width: 1280px), (max-height: 800px){


    #logo {
        width: 80%;
        margin-left: 3em;
    }

    #coluna-barra {

        padding: 3em 5em 0 0;
    }

    .opcoes a{

        padding: 0.6em;



    }




}



@media screen and (max-width: 950px){


    #logo {
        width: 90%;
        margin-left: 3em;
    }

    #coluna-barra {

        padding: 3em 5em 0 0;
    }

    .opcoes a{

        padding: 0.5em;



    }



}


@media screen and (max-width: 500px){



#container{
    display: flex;
    flex-direction: column;
    padding: 1em 0 0 1em;



}


#logo{

    content: url("/home/images/logo_phone.png");
    width: 90%;
    margin: 0;
}
#coluna-logo {
    width: 100%;
}

#coluna-barra {

    width: 100%;
    padding: 0;
}


#nav {

    align-items: center;

}

#coluna-barra {
    position: relative;
    z-index: 2;
    padding: 0;
}

.opcoes a {
    padding: 0.5em;
}



#subtitulo {

    font-size: 22px;

}

.vertical-esq {

    margin-top: 25px;
    margin-left: 17px;

}


.horizontal-esq {

    margin-left: 24px;
    margin-top: 24px;

}



.horizontal-dir {
    right: -10%;
    bottom: -1%;
}

.vertical-dir {
    left: 85%;
    bottom: 0%;

}

#marca {
    font-size: 18px;
    position: inherit;

}

footer{

    text-align: center;
}






}


