*{
    margin: 0;
    padding: 0;
    font-family: Roboto Condensed;
    box-sizing: border-box;
}

body{
    background-color: #D3D3D3;
    background-size: contain;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

img{
    margin-top: 38px;
    margin-left: 20px;
    width: 50%;
}

h1{
    color: #0D0D0D;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(13, 13, 13, 0.20);
    font-size: 96px;
    font-weight: bold;
    padding-bottom: 25%;
    margin: 0 20px;
}

h3{
    color: #0D0D0D;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    padding: 0 38px 0  38px;
    margin: 0 20px;
}

/*Navegação*/
#nav {
    position: fixed;
    top: 65px;
    right: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
}

.certificado, .transparente, .paleta, .codigo, 
.seguranca, .apoie, .config{
    text-align: center;
    padding: 9px;
    margin: 6px;
    background: #0D0D0D;
    box-shadow: 0px 4px 4px 0px rgba(13, 13, 13, 0.30);
    border-radius: 50%;
    font-size: 24px;
    transition: background 0.4s;
}
a{
    text-align: center;
    color: #0D0D0D;
    text-decoration: none;
}
.certificado:hover, .transparente:hover, .paleta:hover, .codigo:hover, 
.seguranca:hover, .apoie:hover, .config:hover{
    color: #0D0D0D;
    background: #50C878;
    box-shadow: 0px 4px 4px 0px rgba(13, 13, 13, 0.20);
    border-radius: 50px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.certificado a:hover::after {
    content: "Certificado";
}
.transparente a:hover::after {
    content: "Cores (Background)";
}
.paleta a:hover::after {
    content: "Cores (Paleta)";
}
.codigo a:hover::after {
    content: "Código";
}
.seguranca a:hover::after {
    content: "Segurança";
}
.apoie a:hover::after {
    content: "Apoie";
}
.config a:hover::after {
    content: "Configuração";
}

ion-icon {
    color: #91F2A0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

/*Linhas esquerda e direita*/

.linhas-esquerda {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    height: 100%;
}
  
  .vertical-esq {
    position: absolute;
    border-left: 3px solid black;
    height: 50%;
    margin-left: 38px;
    margin-top: 38px;
  }
  
  .horizontal-esq {
    width: 50%;
    border-top: 3px dotted black;
    margin-left: 45px;
    margin-top: 38px;
  }
  

.linhas-direita {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    height: 100%;
}
  
    .vertical-dir {
    position: absolute;
    border-left: 3px solid black;
    height: 50%;
    margin-right: 38px;
    bottom: 38px;
    right: 0;
  }
  
    .horizontal-dir {
    position: absolute;
    width: 50%;
    border-bottom: 3px dotted black;
    margin-left: auto;
    margin-right: 45px;
    left: 0;
    right: 0;
    bottom: 38px;
  }

/*Rodapé*/

footer{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    margin: 20px;
    padding: 0 8px;
}

@media screen and (max-width: 768px){
    .container{
        display: block;
        background-image: none;
        text-align: center;
    }

    img{
        width: 50vw;
    }

    footer{
        margin: 20px;
    }

    h1{
        margin: 0;
        padding: 0;
    }

    h3{
        font-size: 20px;
    }

    #nav{
        position: relative;
        top: 0;
        right: 0;
        margin:20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;     
    }
    .linhas-esquerda{
        position:fixed;
    }
    .linhas-direita{
        position: fixed;
    }
}