<section class="container__carrossel" >
    <h2>{{ title }}</h2>
    <div class="container__cards">

   
        <div class="setas">
            <button onclick=""><</button>
        </div>
       
        <div class="cards">
            <app-card
            img="https://cdn-icons-png.flaticon.com/512/69/69544.png"
            title="Mudar cor de Imagem"
            description="Você pode facilmente retirar o plano de fundo indesejado e obter imagens com transparência."
            ></app-card>
        </div>

        
        <div class="setas">
            <button onclick="" class="inverter">></button>
        </div>
            
    </div>

</section>