<section class="container__carrossel" >
    <h2>{{ title }}</h2>
    <div class="container__cards">

   
        <div class="setas">
            <button onclick=""><</button>
        </div>
       
        <div class="cards">
            
            <app-card
            *ngFor="let card of cards"
            img="{{card.icon}}"
            title="{{card.title}}"
            description="{{card.description}}"
            ></app-card>


        </div>

        
        <div class="setas">
            <button onclick="" class="inverter">></button>
        </div>
            
    </div>

</section>