h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 96px 0 18px 0;
}

p {
  padding: 0 175px;
  margin-bottom: 39px;
}

.form-group {
  margin: 24px 0;
}

:is(.input-file, .password__container) {
  margin: 6px 25vw;
  padding: 8px 12px;
  border-radius: 4px;
  background: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.custom-label {
  display: flex;
  justify-content: flex-start ;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #25BFBF;
}

.input-file__content{
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  width: calc(100% - 72px);
}

.input-file__content:hover {
  background-color: #25BFBF;
  color: #fff;
  transition: background-color 500ms,
  color 200ms;
}

.custom-label > .file-name{
  width: 100%;
  color: #0008;
  display: inline-block;
}

.form-control {
  width: 65%;
}

.password__container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
}

.password__container input{
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #25BFBF;
}

.password__container input:is(:focus,:hover, :active){
  background-color: #25BFBF;
  color: #f2f2f2;
  transition: 400ms ease-in-out;
}
.password__container input::placeholder{
  font-size: 1.5rem;
  position: absolute;
  top: 30%;
  color: #00000080;
}

.password__content{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}


#checkbox-password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

#checkbox-password .checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label .btn-check{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;
}

#checkbox-password .checkbox-icon {
  font-size: 22px;
  border-radius: 100%;
  transition: 0.2s;
  color: #25BFBF;
  display: inline;
}

#checkbox-password .btn-check .disabledCheckboxIcon{
  display: none;
}

#checkbox-password .checkbox-icon:hover {
  background: rgba(13, 13, 13, 0.20);
}

.password-checkbox {
  display: none;
}

.input-choice {
  margin-bottom: 6px;
}


.input-choice .choice:first-child{
  margin-right: 9px;
}

/*BOTÃO DONWLOAD*/
.btn{
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  width: 200px;
  height: 63px;
  margin-top: 20px;
}

.btn-download {
  background: #25BFBF;
  color: #fff;
  transition: 0.2s;
}

.btn-download:hover {
  background-color: #158E8E;
}

.btn.disabledBtnDownload{
  background-color: #327070;
  color: #c0b9b9;
  cursor: unset;
}


/*LOADING*/

@keyframes ldio-bxdwskh2bb-o {
  0% {
      opacity: 1;
      transform: translate(0 0)
  }

  49.99% {
      opacity: 1;
      transform: translate(80px, 0)
  }

  50% {
      opacity: 0;
      transform: translate(80px, 0)
  }

  100% {
      opacity: 0;
      transform: translate(0, 0)
  }
}

@keyframes ldio-bxdwskh2bb {
  0% {
      transform: translate(0, 0)
  }

  50% {
      transform: translate(80px, 0)
  }

  100% {
      transform: translate(0, 0)
  }
}

.ldio-bxdwskh2bb div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}

.ldio-bxdwskh2bb div:nth-child(1) {
  background: #adeaea;
  animation: ldio-bxdwskh2bb 1s linear infinite;
  animation-delay: -0.5s;
}

.ldio-bxdwskh2bb div:nth-child(2) {
  background: #91f2a0;
  animation: ldio-bxdwskh2bb 1s linear infinite;
  animation-delay: 0s;
}

.ldio-bxdwskh2bb div:nth-child(3) {
  background: #adeaea;
  animation: ldio-bxdwskh2bb-o 1s linear infinite;
  animation-delay: -0.5s;
}

.loadingio-spinner-dual-ball-dbuc2dc03wn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
  text-align: center;
  z-index: 9999;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 247, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ldio-bxdwskh2bb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-bxdwskh2bb div {
  box-sizing: content-box;
}
