* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D3D3D3;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 80%;
}

.col {
    width: 80%;
    flex: 1;
    padding: 8px;
}

header h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 85px 0 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_row{
    justify-content: space-between;
}
#preview img {
    max-width: 400px;
    width: 100%;
}
.picture {
    width: 500px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: #aaa;
    border: 3px dashed currentColor;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
    transition: color 300ms ease-in-out, 
    background 300ms ease-in-out;
}

.picture:hover {
    color: #555;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgb(0, 0, 0, .4);
}

.input_colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_colors div{
    margin: 10px 0;
}

.icon-button{
    border-radius: 50px;
    background: #D3D3D3;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
    color: #0d0d0d;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.icon-button:hover {
    background-color: #8d8c8c;
}
.icones{
    font-size: large;
    width: 50px;
}
.img_cromatico {
    width: 200px;
    display: none;
    margin-left: 10px;
}


/*BOTÃO DONWLOAD*/
.btn-download {
    display: flex;
    justify-content: center;
    align-items: center;
}

#download {
    border-radius: 50px;
    background: #25BFBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    transition: 0.2s;
}

#download:hover {
    background-color: #158E8E;
}

/*BOTÃO DE HOME E AJUDA*/
#button-home {
    position: fixed;
    right: 47px;
    top: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    transition: width 0.2s, height 0.2s, font-size 0.2s;
}

#button-home:hover {
    width: 55px;
    height: 55px;
}

#button-home ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-home:hover ion-icon {
    font-size: 40px;
}

#button-help {
    text-align: right;
    transition: 0.2s;
    position: fixed;
    right: 47px;
    bottom: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    transition: 0.2s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#button-help:hover {
    width: 55px;
    height: 55px;
}

#margin-container{
    display: flex;
    flex-direction: row;
}
#margin-container p{
    margin-left: 8px;
}

#button-help ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-help ion-icon:hover {
    font-size: 40px;
}

/*LINHAS*/
.linhas-esquerda,
.linhas-direita {
    display: block;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.linhas-esquerda {
    left: 0;
    right: 50%;
    top: 0;
}

.linhas-direita {
    left: 50%;
    right: 0;
    bottom: 0;
}

.vertical-esq,
.vertical-dir {
    position: absolute;
    border-left: 2px solid black;
    height: 50%;
}

.vertical-esq {
    margin-left: 38px;
    top: 38px;
}

.vertical-dir {
    margin-right: 38px;
    bottom: 38px;
    right: 0;
}

.horizontal-esq,
.horizontal-dir {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-esq {
    border-top: 2px dotted black;
    top: 38px;
    left: 38px;
}

.horizontal-dir {
    border-bottom: 2px dotted black;
    bottom: 38px;
    right: 38px;
}
/*Responsividade*/
@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    .image_row{
        flex-direction: column;
        margin: 0 auto;
    }
    header h1{
        margin: 80px 0 18px 0px;
    }
  }
  
@media (max-width: 816px) {
    .container {
        flex-direction: column;
    }
    
    header h1 {
        font-size: 20px;
        font-weight: 700;
        margin: 40px 0 18px 7px;
        justify-content: center;
        align-items: center;
    }

    .image_row{
        flex-direction: column;
        margin: 0 auto;
    }

    .linhas-esquerda,
    .linhas-direita {
        display: none;
    }
}