* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D3D3D3;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 60vh;
}

.col {
    flex: 1;
    padding: 30px 30px 0 30px;
    display: flex;
    text-align: start;
    flex-direction: column;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 80px 0 18px 0;
}

p {
    padding: 0 175px;
}
.stage{
    margin-bottom: 10px;
}
.stage_2 h4{
    margin-bottom: 10px;
}
.stage h4{
    margin-bottom: 5px;
}

.stage_2 label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.stage_2 input[type="text"],
.stage_2 input[type="number"],
.stage_2 input[type="date"] {
    flex: 1;
    width: 100%;
    margin-left: 5px;
}

.stage label img {
    width: 150px;
}

.stage #text_certificado{
    width: 500px;
    height: auto;
    min-height: 150px;
    resize: none;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

/*BOTÃO DONWLOAD*/
button {
    border-radius: 50px;
    background: #25BFBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    width: 200px;
    height: 63px;
    transition: 0.2s;
}

button:hover {
    background-color: #158E8E;
}

/*BOTÃO DE HOME E AJUDA*/
#button-home {
    position: fixed;
    right: 47px;
    top: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    transition: width 0.2s, height 0.2s, font-size 0.2s;
}

#button-home:hover {
    width: 55px;
    height: 55px;
}

#button-home ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-home:hover ion-icon {
    font-size: 40px;
}

#button-help {
    text-align: right;
    transition: 0.2s;
    position: fixed;
    right: 47px;
    bottom: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    transition: 0.2s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#button-help:hover {
    width: 55px;
    height: 55px;
}

#button-help ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-help ion-icon:hover {
    font-size: 40px;
}

/*LINHAS*/

.linhas-esquerda,
.linhas-direita {
    display: block;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.linhas-esquerda {
    left: 0;
    right: 50%;
    top: 0;
}

.linhas-direita {
    left: 50%;
    right: 0;
    bottom: 0;
}

.vertical-esq,
.vertical-dir {
    position: absolute;
    border-left: 2px solid black;
    height: 50%;
}

.vertical-esq {
    margin-left: 38px;
    top: 38px;
}

.vertical-dir {
    margin-right: 38px;
    bottom: 38px;
    right: 0;
}

.horizontal-esq,
.horizontal-dir {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-esq {
    border-top: 2px dotted black;
    top: 38px;
    left: 38px;
}

.horizontal-dir {
    border-bottom: 2px dotted black;
    bottom: 38px;
    right: 38px;
}

/*Responsividade*/
@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        max-width: 700px;
        height: 90vh;
    }
    .col {
        flex: none;
        padding: 0px 50px;
        text-align: center;
    }

    .linhas-direita {
        top: 25vh;
    }
  }
  
  @media screen and (max-width: 861px) {
    .container{
        flex-direction: column;
        max-width: 700px;
        margin: 0 auto;
        height: 120vh;
    }
    h2 {
        margin: 40px 30px 10px 30px;
    }
    p {
        padding: 0 30px;
        margin: 0px 10px;
    }
    .col {
        flex: none;
        padding: 0px 50px;
        text-align: center;
    }
    .stage, 
    .stage_2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .stage_2 label{
        display: flex;
        flex-direction: column;
    }
    .stage #text_certificado{
        width: 300px;
        height: auto;
        min-height: 150px;
        resize: none;
    }
    .linhas-esquerda,
    .linhas-direita {
        display: none;
    }
  }
