* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #D3D3D3;
    scroll-behavior: smooth;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    text-align: center;
}

header h1 {
    padding-top: 126px;
    font-size: 32px;
    font-weight: 700;
}

header h3 {
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
}

.image-logo {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 25%;
    opacity: 0.5;
}

.form-group {
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

.form-group label {
    font-size: 32px;
    background: #ADEAEA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.form-group label.custom-button {
    background: #25BFBF;
    color: #fff;
    transition: background 0.3s ease;
}

.form-group label.custom-button:hover {
    background: #158E8E;
}

p {
    text-align: center;
    padding-top: 7px;
}

.form-action {
    text-align: center;
    margin-top: 95px;
    margin-left: 18%;
}

.content {
    display: flex;
}



#uploadForm p {
    border: 2px dotted #25BFBF;
    margin: -5px 35% 5px 35%;
    padding: 15px 0;
}

.form-action button {
    font-size: 32px;
    padding: 5px 18px;
    color: #FFF;
    border-radius: 3px;
    background: #25BFBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    transition: 0.2s;
}

.form-action button:hover {
    background: #178080;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*BOTÃO DE HOME E AJUDA*/
#button-home {
    position: fixed;
    right: 47px;
    top: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    transition: width 0.2s, height 0.2s, font-size 0.2s;
}

#button-home:hover {
    width: 55px;
    height: 55px;
}

#button-home ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-home:hover ion-icon {
    font-size: 40px;
}

#button-help {
    text-align: right;
    transition: 0.2s;
    position: fixed;
    right: 47px;
    bottom: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    transition: 0.2s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#button-help:hover {
    width: 55px;
    height: 55px;
}

#button-help ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-help ion-icon:hover {
    font-size: 40px;
}

/*LINHAS*/

.linhas-esquerda,
.linhas-direita {
    display: block;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.linhas-esquerda {
    left: 0;
    right: 50%;
    top: 0;
}

.linhas-direita {
    left: 50%;
    right: 0;
    bottom: 0;
}

.vertical-esq,
.vertical-dir {
    position: absolute;
    border-left: 2px solid black;
    height: 50%;
}

.vertical-esq {
    margin-left: 38px;
    top: 38px;
}

.vertical-dir {
    margin-right: 38px;
    bottom: 38px;
    right: 0;
}

.horizontal-esq,
.horizontal-dir {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-esq {
    border-top: 2px dotted black;
    top: 38px;
    left: 38px;
}

.horizontal-dir {
    border-bottom: 2px dotted black;
    bottom: 38px;
    right: 38px;
}

/* Media query para telas de até 768px de largura */

@media (max-width: 768px) {
    header h1 {
        font-size: 22px;
        padding-top: 135px;
    }

    header h3 {
        font-size: 18px;
        padding: 35px 85px;
    }

    .image-logo {
        width: 50%;
        bottom: 75px;
    }

    .form-group {
        margin-top: 50px;
    }

    .form-group label {
        font-size: 24px;
        padding: 8px;
    }

    .form-action {
        margin-top: 70px;
    }

}

/* Media query para telas de até 480px de largura */
@media (max-width: 480px) {
    header h1 {
        font-size: 20px;
        padding-top: 135px;
    }

    header h3 {
        font-size: 18px;
        padding: 35px 85px;
    }

}