* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D3D3D3;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 96px 0 18px 0;
}

p {
    padding: 0 175px;
    margin-bottom: 39px;
}

.form-group {
    margin: 24px 0;
}

:is(.input-file, .password__container) {
    margin: 6px 25vw;
    padding: 8px 12px;
    border-radius: 4px;
    background: #f2f2f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.custom-label {
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #25BFBF;
}

.input-file__content{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    width: calc(100% - 72px);
}

.input-file__content:hover {
    background-color: #25BFBF;
    color: #fff;
    transition: background-color 500ms,
    color 200ms;
}

.custom-label > .file-name{
    width: 100%;
    color: #0008;
    display: inline-block;
}

.form-control {
    width: 65%;
}

.password__container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
}

.password__container input{
    border: none;
    outline: none;
    position: relative;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #25BFBF;
}

.password__container input:is(:focus,:hover, :active){
    background-color: #25BFBF;
    color: #f2f2f2;
    transition: 400ms ease-in-out;
}
.password__container input::placeholder{
    font-size: 1.5rem;
    position: absolute;
    top: 30%;
    color: #00000080;
}

.password__content{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}


#checkbox-password {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

#checkbox-password .checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label .btn-check{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
}

#checkbox-password .checkbox-icon {
    font-size: 22px;
    border-radius: 100%;
    transition: 0.2s;
    color: #25BFBF;
    display: inline;
}

#checkbox-password .btn-check .disabledCheckboxIcon{
    display: none;
}

#checkbox-password .checkbox-icon:hover {
    background: rgba(13, 13, 13, 0.20);
}

.password-checkbox {
    display: none;
}

.input-choice {
    margin-bottom: 6px;
}


.input-choice .choice:first-child{
    margin-right: 9px;
}

/*BOTÃO DONWLOAD*/
.btn{
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    width: 200px;
    height: 63px;
    margin-top: 20px;
}

.btn-download {
    background: #25BFBF;
    color: #fff;
    transition: 0.2s;
}

.btn-download:hover {
    background-color: #158E8E;
}

.btn.disabledBtnDownload{
    background-color: #327070;
    color: #c0b9b9;
    cursor: unset;
}

/*BOTÃO DE HOME E AJUDA*/
#button-home {
    position: fixed;
    right: 47px;
    top: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    transition: width 0.2s, height 0.2s, font-size 0.2s;
}

#button-home:hover {
    width: 55px;
    height: 55px;
}

#button-home ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-home:hover ion-icon {
    font-size: 40px;
}

#button-help {
    text-align: right;
    transition: 0.2s;
    position: fixed;
    right: 47px;
    bottom: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    transition: 0.2s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#button-help:hover {
    width: 55px;
    height: 55px;
}

#button-help ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-help ion-icon:hover {
    font-size: 40px;
}

/*LINHAS*/

.linhas-esquerda,
.linhas-direita {
    display: block;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.linhas-esquerda {
    left: 0;
    right: 50%;
    top: 0;
}

.linhas-direita {
    left: 50%;
    right: 0;
    bottom: 0;
}

.vertical-esq,
.vertical-dir {
    position: absolute;
    border-left: 2px solid black;
    height: 50%;
}

.vertical-esq {
    margin-left: 38px;
    top: 38px;
}

.vertical-dir {
    margin-right: 38px;
    bottom: 38px;
    right: 0;
}

.horizontal-esq,
.horizontal-dir {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-esq {
    border-top: 2px dotted black;
    top: 38px;
    left: 38px;
}

.horizontal-dir {
    border-bottom: 2px dotted black;
    bottom: 38px;
    right: 38px;
}

.danger{
    color: red;
}

.danger small{
    visibility: hidden;
}

@media (max-width: 816px) {
    h1 {
        font-size: 24px;
        margin: 18% 0 3% 0;
    }

    p {
        padding: 3% 15%;
    }

    .input-file,
    .password__container {
        margin: 9px 15%;
    }

    button {
        width: 40%;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
        margin: 30% 0 3% 0;
    }

    p {
        padding: 3% 13%;
    }

    .input-file,
    .password__container {
        margin: 9px 16%;
    }

    .input-file__content{
        justify-content: center;
        font-size: 2rem;
    }

    .input-file__content-choice{
        display: none;
    }

    .password__container{
        grid-template-columns: none;
    }

    button {
        width: 50%;
    }

}
