* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D3D3D3;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    flex-direction: column;
    
}
.title{
    z-index: -1;
}
.title h1 {
    font-size: 24px;
    font-weight: bold;
}
.title .icon-home {
    float: right;
    margin-right: 20px;
    margin-left: -20px;
}
form .text {
    margin: 0 auto;
    width: 803px;
    font-size: 20px;
}
form .form-row {
    margin-right: -40px;
    text-align: center;
}
form .form-row .form-group{
    text-align: center;
    margin: 0 auto;
}
form .form-row .form-group .input-group{
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    width: 480px;
}
.input-group .choice{
    text-align: center;
    margin: auto;
}
.form-group .input-group #chk {
    width: 30px;
    height: 20px;
}

button {
    border-radius: 50px;
    background: #25BFBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    width: 200px;
    height: 73px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para telas maiores */
@media (min-width: 894px) {
    .title {
        margin-top: 105px;
        
    }

    .linhas-esquerda,
    .linhas-direita {
        display: block;
        position: absolute;
        height: 100%;
        z-index: -1;
    }

    .linhas-esquerda {
        left: 0;
        right: 50%;
        top: 0;
    }

    .linhas-direita {
        left: 50%;
        right: 0;
        bottom: 0;
    }

    .vertical-esq,
    .vertical-dir {
        position: absolute;
        border-left: 2px solid black;
        height: 50%;
    }

    .vertical-esq {
        margin-left: 38px;
        top: 38px;
    }

    .vertical-dir {
        margin-right: 38px;
        bottom: 38px;
        right: 0;
    }

    .horizontal-esq,
    .horizontal-dir {
        position: absolute;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .horizontal-esq {
        border-top: 2px dotted black;
        top: 38px;
        left: 38px;
    }

    .horizontal-dir {
        border-bottom: 2px dotted black;
        bottom: 38px;
        right: 38px;
    }
}

/* Estilos para telas menores que 894px (responsividade para dispositivos móveis) */
@media (max-width: 893px) {

    .linhas-esquerda,
    .linhas-direita {
        display: none;
    }

    form .icon-home {
        width: 50px;
    }

    .title {
        width: auto;
    }

    form .text {
        font-size: 15px;
        width: auto;
    }

    .col #row .select-file label {
        display: flex;
        justify-content: center;
        font-size: 15px;
        width: 300px;
        margin: 10px;
    }

    .col #row .select-file input {
        display: flex;
        justify-content: center;
        font-size: 15px;
        width: 300px;
        margin: 10px;
    }

    .col #row .password label {
        display: flex;
        justify-content: center;
        font-size: 15px;
        width: 300px;
        margin: 10px;
    }

    .col #row .password input {
        display: flex;
        justify-content: center;
        font-size: 15px;
        width: 300px;
        margin: 10px;
    }
}