* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #D3D3D3;
    scroll-behavior: smooth;
    font-family: "Roboto Condensed", sans-serif;
}

header h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 97px;
}

main {
    display: flex;
    justify-content: center;
}

#image-view {

    text-align: center;
    margin-top: 55px;
    margin-right: 62px;
}

.cores-predominantes h2 {
    font-size: 20px;
    font-weight: 400;
}

.cores-predominantes {
    align-items: center;
    margin-top: 50px;
}

.color-square {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
}

.cor {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.cor:hover {
    transform: scale(1.2);
}

.notification {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    background: #25BFBF;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}


/*Botão de voltar para a seleção de escolha da imagem*/
#button-closed {
    text-align: center;
    transition: 0.2s;
    margin-top: 75px;
}

#button-closed ion-icon {
    background: #c00707;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: #0d0d0d;
    transition: 0.2s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#button-closed ion-icon:hover {
    background: #c00707;
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    color: #0d0d0d;
}

/*BOTÃO DE HOME E AJUDA*/
#button-home {
    position: fixed;
    right: 47px;
    bottom: 520px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    transition: width 0.2s, height 0.2s, font-size 0.2s;
}

#button-home:hover {
    width: 55px;
    height: 55px;
}

#button-home ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-home:hover ion-icon {
    font-size: 40px;
}

#button-help {
    text-align: right;
    transition: 0.2s;
    position: fixed;
    right: 47px;
    bottom: 47px;
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    transition: 0.2s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#button-help:hover {
    width: 55px;
    height: 55px;
}

#button-help ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

#button-help ion-icon:hover {
    font-size: 40px;
}

/*LINHAS*/

.linhas-esquerda,
.linhas-direita {
    display: block;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.linhas-esquerda {
    left: 0;
    right: 50%;
    top: 0;
}

.linhas-direita {
    left: 50%;
    right: 0;
    bottom: 0;
}

.vertical-esq,
.vertical-dir {
    position: absolute;
    border-left: 2px solid black;
    height: 50%;
}

.vertical-esq {
    margin-left: 38px;
    top: 38px;
}

.vertical-dir {
    margin-right: 38px;
    bottom: 38px;
    right: 0;
}

.horizontal-esq,
.horizontal-dir {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-esq {
    border-top: 2px dotted black;
    top: 38px;
    left: 38px;
}

.horizontal-dir {
    border-bottom: 2px dotted black;
    bottom: 38px;
    right: 38px;
}