* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    background-color: #D3D3D3;
    font-size: 16px;
    padding: 15px;
    margin: 22px 15px;

}
.qr-code__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    padding: 22px;
}

.container__title {
    margin-bottom: 1rem;
}

.form {
    height: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    justify-items: center;
}

:is(.form-group, .qr-code__preview) {
    align-self: start;
}

.form .form-group {
    width: 100%;
    padding: 0 24px;
    margin: 0 12px;
    grid-row: 1;
    grid-column: 1;
}

.form-group .form-group__list {
    font-weight: 700;
    width: 100%;
}

.form-group__list .list__title {
    font-size: 1.25rem;
}

.list__items {
    list-style: none;
    display: flex;
    margin: 12px 0;
    flex-wrap: wrap;
    justify-content: start;
}

.list__items .items__group {
    margin: 0 12px;
    font-weight: 400;
}

.form-group .list-url__content {
    margin-bottom: 16px;
}

:is(.link__field, .field__input-color) {
    width: 100%;
    height: 2rem;
    padding: .5rem .75rem;
    border-radius: 4px;
    margin-top: .5rem;
    font-size: 1.1rem;
}

.content__img {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.content__img .chromatic-circle {
    width: 60px;
    cursor: crosshair;
    margin-right: 10px;
}

.content__img .get-color__field {
    text-align: center;
    width: 100%;
}

.color-select__content {
    display: none;
}

.qr-code__preview {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 2;
}

.preview__content {
    height: 500px;
    width: 100%;
    border: 1px dashed #000;
    background-color: #f2f2f2;
}

.preview__content .preview__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 22px;
}


/*BOTÃO DONWLOAD*/
.btn-download__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    width: 200px;
    height: 63px;
    margin-top: 20px;
}

.btn-download {
    background: #25BFBF;
    color: #fff;
}

.btn-download:hover {
    background-color: #158E8E;
    transition-duration: 0.2s;
}

.btn.disabledBtnDownload {
    background-color: #327070;
    color: #c0b9b9;
    cursor: unset;
}

/* Definindo tamanho espessura e posição das linhas */
.line {
    width: 50vw;
    height: 50vh;
    border: 3px #000;
    position: absolute;
    z-index: -1;
}

/* exibir a linha superior esquerdo */
.line__left-top {
    border-left-style: solid;
    border-top-style: dotted;
    border-block-start-width: 4px;
    right: calc(50vw - 39px);
    bottom: calc(50vh - 37px);
}

/* exibir a linha inferior direito */
.line__right-bottom {
    border-bottom-style: dotted;
    border-right-style: solid;
    border-block-end-width: 4px;
    left: calc(50vw - 39px);
    top: calc(50vh - 37px);
}
/* Esse calc são feitos de acordo com a padding e margin do body */

/* Responsividade | media querys */

@media screen and (max-width: 480px) {

    body{
        padding: 5px;
    }

    .form{
        gap: 0;
    }

    .form-group__list {
        display: flex;
        align-items: center;
        margin: 15px 0;
        flex-direction: column;
    }

    .items__group{
        text-align: center;
    }

    .list-color__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content__img {
        flex-direction: column;
    }

    .qr-code__preview .preview__content{
        height: 60%;
    }
}

@media screen and (max-width: 816px) {
    .container__title{
        margin-bottom: 0;
    }

    .form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .form-group__list{
        margin: 7px 0;
    }

    .form .qr-code__preview {
        grid-row: 2;
        grid-column: 1;
        margin-top: 8px;
        width: 90%;
        height: 60%;
    }

    .preview__content {
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .btn{
        font-size: 1rem;
        width: 150px;
        height: 50px;
        margin-top: 16px;
    }
}


/*BOTÃO DE HOME E AJUDA*/
.btn__home-help {
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: width 0.2s, height 0.2s, font-size 0.2s;
    position: fixed;
    right: 47px;
}

.btn__home-help:hover {
    width: 55px;
    height: 55px;
}

.btn__home-help ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

.btn__home-help:hover ion-icon {
    font-size: 40px;
}

.button-home {
    text-align: center;
    top: 47px;
}

.button-help {
    text-align: right;
    bottom: 47px;
}
