* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    background-color: #D3D3D3;
    font-size: 16px;
    padding: 15px;
    margin: 22px 15px;
}

ul {
    list-style: none;
}

input {
    outline: none;
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #25BFBF;
}

:is(input, .text-email):is(:focus, :hover, :active) {
    background-color: #25BFBF;
    color: #f2f2f2;
    transition: 400ms ease-in-out;
}

input::placeholder {
    color: #00000080;
}

.qr-code__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    padding: 22px;
}

.container__title {
    margin-bottom: 2.25rem;
}

.form {
    height: 100%;
    max-height: 98vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 26px;
    justify-items: center;
}

.form .qr-code__list {
    width: 100%;
    padding: 0 24px;
    margin: 0 12px;
    grid-row: 1;
    grid-column: 1;
}

.form-group__list {
    font-weight: 700;
    width: 100%;
    margin: 22px 16px;
}

.form-group__list:first-child {
    margin-top: 0;
}

.form-group__list .list__title {
    font-size: 1.25rem;
}

.qr-code__list .list-url__content {
    margin-bottom: 16px;
}

.form-group__list .list__items {
    justify-content: space-evenly;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.list__items .items__group {
    margin: 0 12px;
}

.list__items .items__group .item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 4px 16px;
    margin: 12px 0;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.list__items .items__group .item-name:hover {
    color: #fff;
    background-color: #158E8E;
    transition: 400ms ease-in;
}

.radio {
    position: absolute;
    bottom: 30px;
    height: 0;
    width: 100%;
}

.radio:checked::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #327070;
}

.radio:checked::before {
    display: block;
    content: "";
    width: 100%;
    height: 30px;
    background-color: #32707031;
    border-radius: 4px;
}

.radio:hover {
    transition: width 1000ms;
}

:is(.link__field, .field__input-color) {
    width: 100%;
    height: 2rem;
    padding: 16px 18px;
    border-radius: 4px;
    font-size: 1.1rem;
}

/* Container dos form groups */
.form-group__container {
    width: 100%;
}

/* campos de inputs */
.form-group {
    background-color: #FFF;
    padding: 12px 16px;
    border-radius: 4px;
    color: #25BFBF;
}

/* conteudos dos campos de inputs */
.form-group__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

/* Input Email */
.form-group-email {
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.text-email__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 6px;
}

.email-address-subject {
    width: 100%;
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.email-address-subject:first-child {
    margin-bottom: 10px;
}

:is(.text-email, .text-wapp) {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #25BFBF;
    outline: none;
    min-height: 72px;
    padding: 10px 12px;
}

.form-group__list .disable__input-choice {
    display: none;
}

.form-group__list .enable__input-choice {
    display: flex;
}

.form-group__title {
    margin-right: 15px;
}

/* Whatsapp input field */

.wapp__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.wapp-number {
    padding-left: 6px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.wapp__field .form-group__input-number {
    width: 100%;
    display: flex;
}

.country-flag-code__container {
    position: relative;
    display: flex;
    width: 48px;
    border: 1px solid #25BFBF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 34px;
    align-items: center;
    justify-content: center;
    border-right: none;
}

.country__flag {
    position: absolute;
    max-width: 100%;
    width: 36px;
}

.wapp__field .form-group__input-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 6px;
}

.text-wapp {
    width: 100%;
    height: 72px;
    padding: 10px 12px;
}

.content__img {
    position: relative;
}

.content__img .chromatic-circle {
    width: 36px;
    cursor: crosshair;
    margin-right: 10px;
}

.chromatic-circle__label {
    position: absolute;
    right: 53px;
    bottom: 8px;
    width: 0;
}

.color-select__content {
    visibility: hidden;
    position: absolute;
    top: 53px;
}

/* campo de previsualização */

.qr-code__preview {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 2;
}

.preview__content {
    position: relative;
    height: 350px;
    width: 100%;
    border: 1px dashed #000;
    background-color: #f2f2f2;
}

.preview__content .preview__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 22px;
}

.preview__bg {
    width: 100%;
    height: 100%;
}

/*BOTÃO DONWLOAD*/
.btn-download__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    width: 200px;
    height: 63px;
    margin-top: 20px;
}

.btn-download {
    background: #25BFBF;
    color: #fff;
}

.btn-download:hover {
    background-color: #158E8E;
    transition-duration: 0.2s;
}

/*BOTÃO DE HOME E AJUDA*/
.btn__home-help {
    background: #50c878;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: width 0.2s, height 0.2s, font-size 0.2s;
    position: fixed;
    right: 47px;
}

.btn__home-help:hover {
    width: 55px;
    height: 55px;
}

.btn__home-help ion-icon {
    padding: 7px;
    color: #0d0d0d;
    font-size: 30px;
    transition: font-size 0.2s;
}

.btn__home-help:hover ion-icon {
    font-size: 40px;
}

.button-home {
    text-align: center;
    top: 47px;
}

.button-help {
    text-align: right;
    bottom: 47px;
}


/*LINHAS*/

.linhas-esquerda,
.linhas-direita {
    display: block;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.linhas-esquerda {
    left: 0;
    right: 50%;
    top: 0;
}

.linhas-direita {
    left: 50%;
    right: 0;
    bottom: 0;
}

.vertical-esq,
.vertical-dir {
    position: absolute;
    border-left: 2px solid black;
    height: 50%;
}

.vertical-esq {
    margin-left: 38px;
    top: 38px;
}

.vertical-dir {
    margin-right: 38px;
    bottom: 38px;
    right: 0;
}

.horizontal-esq,
.horizontal-dir {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-esq {
    border-top: 2px dotted black;
    top: 38px;
    left: 38px;
}

.horizontal-dir {
    border-bottom: 2px dotted black;
    bottom: 38px;
    right: 38px;
}


/* Responsividade | media querys */

@media screen and (max-width: 480px) {

    body {
        padding: 5px;
    }

    .form {
        gap: 0;
    }

    .form-group__list {
        display: flex;
        align-items: center;
        margin: 15px 0;
        flex-direction: column;
    }

    .items__group {
        text-align: center;
    }


    .list-color__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group.list__items {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form .qr-code__list + .qr-code__preview{
        gap: 6px;
        flex-direction: column;
        margin-top: 22px;
    }

    .qr-code__preview .preview__content {
        height: 60%;
    }
}

@media screen and (max-width: 816px) {
    .container__title {
        margin-bottom: 0;
    }

    .form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .form-group__list {
        margin: 7px 0;
    }

    .form .qr-code__preview {
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
        grid-row: 2;
        grid-column: 1;
        width: 90%;
        height: 50%;
    }

    .preview__content {
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .btn {
        font-size: 1rem;
        width: 150px;
        height: 50px;
        margin-top: 16px;
    }
}