<!DOCTYPE html>
 <html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My big Whale - Cores</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/altercolor.css"> 
	<!-- Font Roboto e Montserrat -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-BVGCNK1G97');
	</script>

</head>

<body>
	<header>
        <h1>Modificador de cores em imagem</h1>
    </header>

	<form th:action="@{/design/altercolor}" method="POST" enctype="multipart/form-data" th:object="${form}">
		<div class="container">
			<div class="row image_row">
				<div class="col img_user">
					<div id="preview" onclick="pickColor(event)">
						<label class="picture" for="picture_input" tabindex="0"></label>
					</div>
					<input type="file" th:field="*{image}" accept="image/*" id="picture_input"
							onchange="previewImage(event)">
					<span th:errors="*{image}" class="text-danger"></span>
				</div>

				<div class="col">
					<div class="input_colors">
						<div>
							<!-- INPUT da cor a ser alterada   -->
							<p>Cor selecionada da imagem atual</p>
							<ion-icon name="color-fill-outline" class="icones"></ion-icon>
							<input th:field="*{colorOfImage}" type="text" id="dropper" />
							<span th:errors="*{colorOfImage}" class="text-danger"></span>
						</div>

						<div>
							<!-- Pincel pra escolher a nova cor  -->
							<p>Nova cor para imagem atualizada</p>
							<button class="icon-button" type="button" onclick="imageCircleColor()">
								<ion-icon name="color-palette-outline" class="icones"></ion-icon>
							</button>
							<input th:field="*{colorForAlteration}" type="text" id="alter_color" />
							<img src="/images/circulo-cromatico.png" class="img_cromatico" onclick="pickColorCircle()">
							<span th:errors="*{colorForAlteration}" class="text-danger"></span>
						</div>

						<div>
							<!-- Botão para apagar os input -->
							<button class="icon-button" type="button" onclick="btnClear()">
								<ion-icon name="trash-bin-outline" class="icones"></ion-icon>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col btn-download">
					<!--BOTÃO DE DOWNLOAD-->
					<button type="submit" id="download">Download</button>
				</div>
			</div>

		</div>
	</form>
		

	<!-- BOTÕES HOME E AJUDA -->
	<div id="button-home">
		<a href="/#documentos">
			<ion-icon name="return-down-back-outline"></ion-icon>
		</a>
	</div>

	<div id="button-help">
		<a href="/help">
			<ion-icon name="help-outline"></ion-icon>
		</a>
	</div>

	<!-- Linhas superiores -->
	<div class="linhas-esquerda">
		<hr class="vertical-esq">
		<hr class="horizontal-esq">
	</div>
	<!-- Linhas inferiores -->
	<div class="linhas-direita">
		<hr class="vertical-dir">
		<hr class="horizontal-dir">
	</div>

	<!-- Script dos icones -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="/js/altercolor.js"></script>
</body>

</html>