<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My big Whale - Certificados</title>
	<link rel="stylesheet" type="text/css" href="/css/certificategenerator.css">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

	<!-- Fonte Montserra -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-BVGCNK1G97');
	</script>

</head>

<body>
	<div>
		<div>
			<h2>Gerador de certificado</h2>
			<p>
				Você pode criar certificados personalizados de forma rápida e fácil de
				para reconhecimento e autenticação.
			</p>
		</div>

		<form th:action="@{/documents/certificategenerator}" class="card-body d-flex justify-content-center p-5"
			method="POST" enctype="multipart/form-data" th:object="${certificateGeneratorForm}">

			<div class="container">

				<div class="col">

					<div class="stage">
						<h4>1. Selecione o tipo de certificado:</h4>
						<label>
							<input type="radio"
								   value="true"
								   required /> Participação
						</label>
						<label>
							<input type="radio"
								   value="true"
								   required /> Palestrante
						</label>
						<label>
							<input type="radio"
								   value="true"
								   required /> Curso
						</label>
					</div>
					<div class="stage_2">
						<h4>2.Preencha as informações do certificado:</h4>
						<label class="row">
							Lista de participantes (CSV):
							<input type="file" th:field="*{worksheet.worksheet}" required/>
						</label>
						<label class="row">
							Nome do evento/curso:
							<input type="text"
						    th:field="*{certificate.eventName}"
							id="event_name"
							oninput="updateCertificateText()"/>
						</label>
						<label class="row">
							Nome do(a) organizador(a) do evento:
							<input type="text"
						    th:field="*{certificate.speakerName}"
							id="organizing_name"
							oninput="updateCertificateText()"/>
						</label>
						<label class="row">
							Cargo do(a) organizador(a) do evento:
							<input type="text"
						    th:field="*{certificate.speakerRole}"
							id="organizing_position"
							oninput="updateCertificateText()"/>
						</label>
						<label class="row">
							Carga horária:
							<input type="number"
						    th:field="*{certificate.eventWorkLoad}"
							id="workload"
							oninput="updateCertificateText()"/>
						</label>
						<label class="row">
							Data do evento/curso:
							<input type="date"
						    th:field="*{certificate.eventDate}"
							id="event_date"
							oninput="updateCertificateText()"/>
						</label>
						<label class="row">
							Data de emissão do certificado:
							<input type="date"
							id="certificate_date"
							oninput="updateCertificateText()"/>
						</label>
						<label class="row">
							Local de emissão do certificado:
							<input type="text" 
							id="local_date"
						    th:field="*{certificate.eventLocale}"
							oninput="updateCertificateText()"/>
						</label>

						<span th:errors="*{certificate.certificateModelId}" class="text-danger"></span>
					</div>
				</div>


				<div class="col">

					<div class="stage">
						<h4>3. Escolha o modelo do certificado:</h4>
						
						<label>
							<input type="radio" th:field="*{certificate.certificateModelId}" th:value="1" required />
							<img class="ex_certificado" src="/images/ex_certificado1.PNG" alt="Exemplo de certificado 1">
						</label>
						<label>
							<input type="radio" th:field="*{certificate.certificateModelId}" th:value="2" required />
							<img class="ex_certificado" src="/images/ex_certificado2.jpg" alt="Exemplo de certificado 1">
						</label>
					</div>

					<div class="stage">
						<h4>4. Edite ou use o texto padrão do certificado:</h4>
						<textarea id="text_certificado" cols="30" rows="5" required>
	Certificamos que [Nome do Participante] participou do evento [Nome do Evento], realizado no dia [Data do Evento], com uma carga horária total de [Carga Horária] horas.
	Este certificado é concedido como reconhecimento pela dedicação e comprometimento de [Nome do Participante] em aprimorar suas habilidades e conhecimentos na área abordada pelo evento.
	Local/Data: [Local de Emissão do Certificado], [Data de Emissão do Certificado].
	Assinatura: [Nome do Organizador]
	Cargo: [Cargo do Organizador]
						</textarea>
					</div>
				</div>
			</div>

			<!--BOTÃO DE DOWNLOAD-->
			<button type="submit" id="download">Download</button>

		</div>
	</form>

	<!--BOTÕES HOME E AJUDA-->

	<div id="button-home">
		<a href="/#documentos">
			<ion-icon name="return-down-back-outline"></ion-icon>
		</a>
	</div>

	<div id="button-help">
		<a href="/help">
			<ion-icon name="help-outline"></ion-icon>
		</a>
	</div>

	<!--Linhas superiores-->
	<div class="linhas-esquerda">
		<hr class="vertical-esq">
		<hr class="horizontal-esq">
	</div>
	<!--Linhas inferiores-->
	<div class="linhas-direita">
		<hr class="vertical-dir">
		<hr class="horizontal-dir">
	</div>

	</div>

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="/js/certificategenerator.js"></script>
</body>
</html>