<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My big Whale - Paleta de Coresa partir de Imagens</title>
	<link rel="stylesheet" type="text/css" href="/css/colorspalette.css">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-BVGCNK1G97');
	</script>
</head>

<body>

	<header>
		<h1>Paleta de Cores a partir de imagens</h1>
		<h3>Para extrair automaticamente as cores principais da sua imagem e obter inspiração para os seus projetos de
			design.</h3>
	</header>

	<main>

		<form id="uploadForm" th:action="@{/design/colorspalette}" method="POST" enctype="multipart/form-data"
			th:object="${form}">
			<div class="form-group">
				<label for="image" class="custom-button">
					Selecionar Imagem
				</label>
				<input type="file" id="image" th:field="*{image}" onchange="submitForm()" style="display: none;" />
			</div>

			<p>Ou arraste e solte o arquivo aqui</p>

			<img id="uploadedImage" th:if="${imageBase64}" th:data-image-base64="${imageBase64}" style="display: none;">

			<div class="content">
				<div id="drop-area" class="drop-area">
				</div>
				<div class="form-action">
					<button type="submit" style="display: none;"></button>
				</div>
			</div>
		</form>

		<img class="image-logo" src="/images/logo.png" alt="logo 50% transparente">

	</main>

	<!--BOTÕES HOME E AJUDA-->

	<div id="button-home">
		<a href="/">
			<ion-icon name="return-down-back-outline"></ion-icon>
		</a>
	</div>

	<div id="button-help">
		<a href="/help">
			<ion-icon name="help-outline"></ion-icon>
		</a>
	</div>

	<!--Linhas superiores-->
	<div class="linhas-esquerda">
		<hr class="vertical-esq">
		<hr class="horizontal-esq">
	</div>
	<!--Linhas inferiores-->
	<div class="linhas-direita">
		<hr class="vertical-dir">
		<hr class="horizontal-dir">
	</div>

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="/js/colorspalette.js"></script>

	<input type="hidden" id="imageBase64" th:if="${imageBase64}" th:value="${imageBase64}" />

</body>

</html>