<!DOCTYPE html>
<html>

<head>
	<title>My big Whale - Conversor ZIP</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/compactconverter.css">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-BVGCNK1G97');
	</script>
</head>

<body>

	<header>
		<h1>Converter ZIP</h1>
	</header>

	<main>
		<form th:action="@{/documents/compactconverter}" class="card-body d-flex justify-content-center" method="POST"
			enctype="multipart/form-data">

			<div class="choose-file">

				<p>Selecione um ou mais arquivos ZIP</p>

				<div class="input-file">
					<input type="file" name="file" multiple accept=".zip" required/>
				</div>

			</div>

			<div class="type-conversion">

				<p>Selecione o tipo da compressão desejada:</p>

				<div class="input-group">
					<label class="input-group-text" for="inputGroupSelect01">
						<i class="bi bi-search"></i>
					</label>

					<select name="action" class="form-select" id="inputGroupSelect01">
						<option class="options" value=".zip">.zip</option>
						<option class="options" value=".tar.gz">.tar.gz</option>
						<option class="options" value=".tar">.tar</option>
						<option class="options" value=".7z">.7z</option>
					</select>

				</div>
			</div>

			<!--BOTÃO DE DOWNLOAD-->
			<button type="submit" id="download">Download</button>

		</form>
	</main>

	<!--BOTÕES HOME E AJUDA-->

	<div id="button-home">
		<a href="/#documentos">
			<ion-icon name="return-down-back-outline"></ion-icon>
		</a>
	</div>

	<div id="button-help">
		<a href="/help">
			<ion-icon name="help-outline"></ion-icon>
		</a>
	</div>

	<!--Linhas superiores-->
	<div class="linhas-esquerda">
		<hr class="vertical-esq">
		<hr class="horizontal-esq">
	</div>
	<!--Linhas inferiores-->
	<div class="linhas-direita">
		<hr class="vertical-dir">
		<hr class="horizontal-dir">
	</div>

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>