<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My big Whale - Conversor de Arquivos</title>
        <link rel="stylesheet" type="text/css" href="/css/cryptograph.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

        <!-- Google tag (gtag.js) -->
        <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BVGCNK1G97');
    </script>
    </head>

    <body>

        <header>
            <h1>Criptografar ou Descriptografar</h1>
        </header>

        <main>
            <form id="form" th:action="@{/security/cryptograph}" method="POST"
                enctype="multipart/form-data" th:object="${form}">

                <p>
                    Aumente a segurança de seus arquivos e utilize uma chave de
                    criptografia forte para proteger
                    o seu documento ou se você quiser descriptografar o
                    documento,
                    utilize a chave correta que foi gerada no nosso site para
                    acessar o seu conteúdo
                    original com maior segurança.
                </p>

                <div class="form-group">
                    <div class="input-file">
                        <label for="arquivo" class="custom-label">
                            <div class="input-file__content">
                                <ion-icon class="icon__content"
                                    name="cloud-upload-outline"></ion-icon>
                                <span class="input-file__content-choice">
                                    Escolher arquivo</span>
                            </div>
                            <span id="file-name" class="file-name"></span>
                        </label>
                        <input id="arquivo" class="form-control" name="arquivo"
                            type="file" th:field="*{file}" multiple
                            style="display: none;">
                    </div>
                    <div class="danger">
                        <small id="file-error">
                            Insira algum arquivo
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="password__container">
                        <label for="pwd" class="custom-label">Insira a senha:
                        </label>
                        <div class="password__content">
                            <input
                                th:field="*{key}"
                                type="password"
                                id="pwd" class="form-control"
                                placeholder="***************"
                                maxlength="64">

                            <div id="checkbox-password">
                                <input type="checkbox" id="chk"
                                    class="password-checkbox">
                                <label for="chk" class="checkbox-label">
                                    <button type="button" class="btn-check"
                                        id="btn-toggle-icon">
                                        <ion-icon name="eye-outline"
                                            class="checkbox-icon show-password"></ion-icon>
                                        <ion-icon name="eye-off-outline"
                                            class="checkbox-icon hide-password disabledCheckboxIcon"></ion-icon>
                                    </button>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="danger">
                        <small id="pwd-error">
                            Digite a senha
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-choice">
                        <label class="choice">
                            <input type="radio"
                                th:field="*{action}"
                                value="true"
                                id="criptografar"> Criptografar
                        </label>
                        <label class="choice">
                            <input
                                type="radio"
                                th:field="*{action}"
                                value="false"
                                id="descriptografar"> Descriptografar
                        </label>
                    </div>
                    <div class="danger">
                        <small id="radio-error">Selecione uma das opções</small>
                    </div>
                </div>

                <!--BOTÃO DE DOWNLOAD-->
                <button type="submit" id="download"
                    class="btn btn-download disabledBtnDownload">Download</button>

            </form>
        </main>

        <!--BOTÕES HOME E AJUDA-->

        <div id="button-home">
            <a href="/#seguranca">
                <ion-icon name="return-down-back-outline"></ion-icon>
            </a>
        </div>

        <div id="button-help">
            <a href="/help">
                <ion-icon name="help-outline"></ion-icon>
            </a>
        </div>

        <!--Linhas superiores-->
        <div class="linhas-esquerda">
            <hr class="vertical-esq">
            <hr class="horizontal-esq">
        </div>
        <!--Linhas inferiores-->
        <div class="linhas-direita">
            <hr class="vertical-dir">
            <hr class="horizontal-dir">
        </div>

        <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="/js/cryptograph.js"></script>
    </body>

</html>