<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whale</title>
    <link rel="stylesheet" href="/home/css/style.css">
</head>

<body>
    <!--NAVEGAÇÃO-->
    <nav>
        <ul class="nav">
            <li><a href="#design">Design</a></li>
            <li><a href="#documentos">Documentos</a></li>
            <li><a href="#seguranca">Segurança</a></li>
            <li><a href="/apoie">Apoie</a></li>
        </ul>
    </nav>

    <!--CABEÇALHO-->
    <header>
        <img id="logo" src="/home/images/logo.png" alt="logo whale">

        <p id="descricao">Sua aquarela de ferramentas de manipulação de imagens e documentos.</p>

        <!-- Linhas superiores-->
        <!-- <div class="linhas-esquerda">
            <hr class="vertical-esq">
            <hr class="horizontal-esq">
        </div> -->
        <!--Linhas inferiores-->
        <!-- <div class="linhas-direita">
            <hr class="vertical-dir">
            <hr class="horizontal-dir">
        </div> -->

    </header>

    <!--FERRAMENTAS/CARROSSEL-->
    <section class="tipo" id="design">
        <h3>Design</h3>

        <div class="container">

            <div class="setas">
                <button onclick="showPreviousImage('carrossel')" ><ion-icon
                        name="arrow-back-outline"></ion-icon></button>
            </div>

          

            <div class="carrossel">
             
                <!--a card-designer classe para marcar a div no javascript-->
                <div class="carrossel-item card-designer ">
                    <a href="/colors/transparentimage">
                        <ion-icon name="image-outline"></ion-icon>

                        <h4>Remover Fundo de Imagens</h4>
                        <p>Você pode facilmente retirar o plano de fundo indesejado e obter imagens com transparência.
                        </p>
                    </a>
                </div>

                <div class="carrossel-item card-designer">
                    <a href="/colors/colorspalette">
                        <ion-icon name="color-palette-outline"></ion-icon>
                        <h4>Paleta de Cores a partir de Imagens</h4>
                        <p>Para extrair automaticamente as cores principais da sua imagem e obter inspiração para os
                            seus
                            projetos de design.</p>
                    </a>
                </div>

                <div class="carrossel-item card-designer">
                    <a href="">
                        <ion-icon name="resize-outline"></ion-icon>
                        <h4>Redimensionar Imagens</h4>
                        <p>Você pode ajustar o tamanho das suas imagens de forma rápida e fácil, adaptando-as às suas
                            necessidades.</p>
                    </a>
                </div>

                <div class="carrossel-item card-designer">
                    <a href="/colors/imageconversion">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                        <h4>Converter Imagens</h4>
                        <p>Converta imagens facilmente. Formatos aceitos: jpg, png, gif e bmp</p>
                    </a>
                </div>

            </div>


            <div class="setas">
                <button onclick="showNextImage('carrossel')" class="inverter"> <ion-icon name="arrow-back-outline"></ion-icon></button>
            </div>

       


        </div>


    </section>

    <section class="tipo" id="documentos">
        <h3>Documentos</h3>

        <div class="container">

            <div class="setas">
                <button onclick="showPreviousImage('carrossel-documento')" ><ion-icon
                        name="arrow-back-outline"></ion-icon></button>
            </div>


                    
            <div class="carrossel carrossel-documento">

                <!--a classe card-documento e uma classe não para estiliza mais para marcar a div para ser usada no javascript-->
                <!--a card-documento segui a mesma logica-->
                <div class="carrossel-item card-documento">
                    <a href="/certificates/certificategenerator">
                        <ion-icon name="ribbon-outline"></ion-icon>
                        <h4>Gerador de Certificados</h4>
                        <p>Você pode criar certificados personalizados de forma rápida e fácil para reconhecimento e
                            autenticação.</p>
                    </a>
                </div>

                <div class="carrossel-item card-documento">
                    <a href="/documents/fileconverter">
                        <ion-icon name="refresh-circle-outline"></ion-icon>
                        <br>
                        <h4>Conversor de Arquivos</h4>
                        <p>Transforme facilmente seu documento em um formato compatível com o que você precisa.</p>
                    </a>
                </div>

                <div class="carrossel-item card-documento">
                    <a href="/documents/textextract">
                        <ion-icon name="contract-outline"></ion-icon>
                        <h4>Compressor de Arquivos</h4>
                        <p>Para reduzir o tamanho dos seus arquivos e economizar espaço de armazenamento no seu
                            dispositivo.
                        </p>
                    </a>
                </div>
                <div class="carrossel-item card-documento">
                    <a href="/documents/textextract">
                        <ion-icon name="text-outline"></ion-icon>
                        <h4>Extrair texto de uma imagem</h4>
                        <p>Extraia o texto presente em uma imagem com qualidade e fidelidade.
                        </p>
                    </a>
                </div>
            </div>

        


            <div class="setas">
                <button onclick="showNextImage('carrossel-documento')" class="inverter"> <ion-icon name="arrow-back-outline"></ion-icon></button>
            </div>

        </div>
    </section>

    <section class="tipo" id="seguranca">
        <h3>Segurança</h3>

        <div class="container">
            <div class="setas">
                <button onclick="showPreviousImage('carrossel-seguranca')" ><ion-icon
                        name="arrow-back-outline"></ion-icon></button>
            </div>

            
          
        <div class="carrossel carrossel-seguranca">

    
            
                <!--a classe carrossel-seguranca e uam classe não para estiliza mais para marcar a div para ser usada no javascript-->
                <!--a card-seguranca segui a mesma logica-->
            <div class="carrossel-item card-seguranca">
                <a href="/security/encrypt">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <h4>Criptografar</h4>
                    <p>Utilize uma chave de criptografia forte para proteger o seu arquivo.</p>
                </a>
            </div>

            <div class="carrossel-item card-seguranca">
                <a href="">
                    <ion-icon name="lock-open-outline"></ion-icon>
                    <br>
                    <h4>Descriptografar</h4>
                    <p>Você pode descriptografar o documento utilizando a chave correta para acessar seu conteúdo
                        original.</p>
                </a>
            </div>

            <div class="carrossel-item card-seguranca">
                <a href="/codes/qrcode/">
                    <ion-icon name="barcode-outline"></ion-icon>
                    <h4>Criar QR-CODE</h4>
                    <p>Você pode gerar um QR-CODE personalizado com facilidade.</p>
                </a>
            </div>


        </div>


        <div class="setas">
            <button onclick="showNextImage('carrossel-seguranca')" class="inverter"> <ion-icon name="arrow-back-outline"></ion-icon></button>
        </div>

     

        </div>

    </section>

    <!--SOBRE NÓS-->
    <section id="sobre">
        <h3>Sobre nós</h3>

        <p>Nossa equipe é apaixonada por programação e dedicada a criar uma experiência excepcional
            para nossos usuários. O Whale foi construído com todo o cuidado e expertise utilizando as
            linguagens Java e JavaScript. Essas tecnologias nos permitiram criar uma plataforma inovadora
            e poderosa para a manipulação de imagens e documentos. Nosso objetivo é oferecer ferramentas de
            edição que combinem facilidade de uso com resultados profissionais, proporcionando aos nossos usuários
            uma experiência única e produtiva. Estamos sempre em busca de aprimorar e expandir o Whale, garantindo
            que ele seja a escolha ideal para impulsionar a criatividade e o sucesso de nossos clientes.
        </p>

        <div class="colaboradores">
            <a href="https://www.linkedin.com/in/amanda-paiva-lino/" target="_blank">
                <img src="img/time/amanda.jpg" alt="mulher branca sorrindo">
            </a>

            <a href="https://www.linkedin.com/in/erasmobezerra/" target="_blank">
                <img src="img/time/erasmo.jpg" alt="homem pardo">
            </a>

            <a href="https://www.linkedin.com/in/ramon-moratori-86a558243/" target="_blank">
                <img src="img/time/ramon.jpg" alt="homem branco sorrindo">
            </a>

            <a href="https://www.linkedin.com/in/leo-silva011" target="_blank">
                <img src="img/time/leo.jpg" alt="homem branco">
            </a>
        </div>
    </section>

    <!--AJUDA-->
    <div id="button">
        <a href="/ajuda">
            <ion-icon name="help-outline"></ion-icon>
        </a>
    </div>

    <div id="linha">
        <hr>
    </div>

    <!--RODAPÉ-->
    <footer>
        <p>© Whale - 2023</p>
        <p>contact@mybigwhale.com</p>

    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/home/script/script.js"></script>




</body>

</html>