<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whale</title>
    <link rel="stylesheet" href="/home/images/style.css">
</head>
<body>






    <div id="container">


        <div id="coluna-logo">   
            
            <!--Imagem de logo-->
            <!-- <img  src="/home/images/logo.png" alt="logo whale"> -->

            <div id="logo" data-alt-pequena="logo whale mobile" data-alt-grande="logo whale Desktop"></div>

            
             <!--Título-->
            <!-- <h1 id="titulo">Whale</h1>  -->

        </div>


         
         <!--Botões-->
        <nav id="coluna-barra">

             <ul id="nav">

                <li class="opcoes certificado"> 
                    <a href="/certificados/geradorDeCertificados">
                    <ion-icon class="icon" name="create-outline"></ion-icon>
                    </a>
                </li>

                <li class="opcoes transparente">
                    <a href="/cores/imagemtransparente">
                    <ion-icon class="icon" name="color-fill-outline"></ion-icon></a>
                </li>
                
                <li class="opcoes paleta">
                    <a href="/cores/paletadecores"> <ion-icon class="icon" name="color-fill-outline"></ion-icon></a>
                </li>

                <li class="opcoes codigo">
                    <a href="/codigos/qrcode">
                    <ion-icon class="icon" name="code-outline"></ion-icon></a>
                </li>

                <li class="opcoes seguranca">
                    <a href="/seguranca/encriptografar">
                    <ion-icon class="icon" name="lock-closed-outline"></ion-icon></a>
                </li>

                <li class="opcoes apoie"> <a href=""><ion-icon class="icon" name="heart-circle-outline"></ion-icon></a>
                </li>

                <li class="opcoes config">
                            <a href="" >
                    <ion-icon class="icon" name="settings-outline"></ion-icon></a>
                </li>
            </ul>
        </nav>

           

    
        

  
    </div>
    

  <!--Subtítulo-->
    <h3 id="subtitulo">Sua aquarela de ferramentas de manipulação de imagens e documentos.</h3>
        





  <!--Rodapé-->
    <footer>
        <p id="marca"> &copy; Whale - 2023</p>
    </footer>


    <!-- Linhas superiores-->
    <div class="linhas-esquerda">
        <hr class="vertical-esq">
        <hr class="horizontal-esq">
    </div>
    <!--Linhas inferiores-->
    <div class="linhas-direita">
        <hr class="vertical-dir">
        <hr class="horizontal-dir">
    </div>

 
   
    
    
  

  

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>