<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whale</title>
    <link rel="stylesheet" href="/home/images/style.css">
</head>
<body class="container">
    <!--Linhas superiores-->
    <div class="linhas-esquerda">
        <hr class="vertical-esq">
        <hr class="horizontal-esq">
    </div>
    <!--Linhas inferiores-->
    <div class="linhas-direita">
        <hr class="vertical-dir">
        <hr class="horizontal-dir">
    </div>

    <!--Imagem de logo-->
    <img src="/home/images/whale.png" alt="logo whale">
    
   <!--Título-->
    <h1>Whale</h1> 
    
    <!--Botões-->
    <div id="nav">
        <div class="certificado">
            <a href="/certificados/geradorDeCertificados">
                <ion-icon name="create-outline"></ion-icon>
            </a>
        </div>
        <div class="transparente">
            <a href="/cores/imagemtransparente">
                <ion-icon name="color-fill-outline"></ion-icon>
            </a>
        </div>
        <div class="paleta">
            <a href="/cores/paletadecores">
                <ion-icon name="color-fill-outline"></ion-icon>
            </a>
        </div>
        <div class="codigo">
            <a href="/codigos/qrcode">
                <ion-icon name="code-outline"></ion-icon>
            </a>
        </div>
        <div class="seguranca">
            <a href="/seguranca/encriptografar">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </a>
        </div>
        <div class="apoie">
            <a href="">
                <ion-icon name="heart-circle-outline"></ion-icon>
            </a>
        </div>
        <div class="config">
            <a href="" >
                <ion-icon name="settings-outline"></ion-icon>
            </a>
        </div>
    </div>
    
    
    
    <!--Subtítulo-->
    <h3>Sua aquarela de ferramentas de manipulação de imagens e documentos.</h3>

    <!--Rodapé-->
    <footer>
        <p>&copy; Whale - 2023</p>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>