<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Whale - Paleta de Cores</title>
  <link rel="stylesheet" type="text/css" href="/css/paletteview.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://unpkg.com/cursorzoom/dist/cursorzoom.min.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BVGCNK1G97');
  </script>

</head>

<body>
  
  <header>
    <h1>Sua paleta de cores está pronta!</h1>
  </header>

  <main>

    <!-- Exibição da imagem -->
    <div id="image-view">
      <img id="viewImage" alt="Imagem" th:src="@{'data:image/png;base64,' + ${form.imageBase64}}">
    </div>

    <!-- Exibição da paleta de cores -->

    <div class="cores-predominantes mt-5">

      <h2>Cores predominantes:</h2>

      <div class="mb-3">
        <div th:each="color : ${form.listOfColors}" class="cor"
          th:style="'background-color: rgb(' + ${color.getRed()} + ',' + ${color.getGreen()} + ',' + ${color.getBlue()} + ')'"
          th:attr="title=*{color.toString()}" data-cursorzoom onclick="copyHexColor(this)">
        </div>
      </div>

      <!--BOTÃO DE FECHAR PALETA E VOLTAR PARA A SELEÇÃO DE IMAGEM-->
      <div id="button-closed">
        <a href="/design/colorspalette">
          <ion-icon name="close-outline"></ion-icon>
        </a>
      </div>

    </div>

    <div class="notification" id="notification">Hexadecimal Copiado!</div>

  </main>

  <!--BOTÕES HOME E AJUDA-->

  <div id="button-home">
    <a href="/">
			<ion-icon name="return-down-back-outline"></ion-icon> 
    </a>
  </div>
  <div id="button-help">
    <a href="/help">
      <ion-icon name="help-outline"></ion-icon>
    </a>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="/js/paletteview.js"></script>

</body>

</html>