<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My big Whale - QRCode</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/qrcodegenerator.css">

	<!-- Scripts para Ion icons -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-BVGCNK1G97');
	</script>

</head>

<body>
	<header class="qr-code__header">
		<!-- BOTÃO HOME -->
		<div class="button-home btn__home-help">
			<a href="/#seguranca" aria-label="Ir para à página inicial" role="link">
				<ion-icon name="return-down-back-outline"></ion-icon>
			</a>
		</div>
	</header>
	<main class="qr-code__container">
		<h1 class="container__title" role="hea" aria-level="1">Cria QR Code</h1>
		<form th:action="@{/documents/qrcodegenerator}" class="form" method="POST" enctype="multipart/form-data"
			th:object="${form}" id="form">
			<ol class="qr-code__list">
				<li class="form-group__list">
					<h3 class="list__title">Selecione o tipo</h3>
					<ul class="form-group list__items" id="ul-types">
						<li class="items__group">
							<input type="checkbox" name="types" id="email">
							<label for="email">Email</label>
						</li>
						<li class="items__group">
							<input type="checkbox" name="types" id="whatsapp">
							<label for="whatsapp">Whatsapp</label>
						</li>
						<li class="items__group">
							<input type="checkbox" name="types" id="link-checked">
							<label for="link-checked">Link</label>
						</li>
						<li class="items__group">
							<input type="checkbox" name="types" id="pdf">
							<label for="pdf">PDF</label>
						</li>
					</ul>
					<div class="danger">
						<small id="checkbox-error">
							Por favor, selecione alguma das opções.
						</small>
					</div>
				</li>
				<li class="form-group__list">
					<h3 class="list__title">Insira a url</h3>
					<div class="form-group ">
						<label for="link" class="form-group__title">
							URL: 
						</label>
						<input type="text" class="link__field" name="link" th:field="*{link}" id="link"
							pattern="https?://.+" placeholder="https://mybigwhale.com">
						<div class="msg-error">
						</div>
					</div>
					<div class="danger">
						<small id="link-error">
							Por favor, informe uma url ou link.
						</small>
					</div>
				</li>
				<li class="form-group__list">
					<div class="list-color__content">
						<h3 class="list__title">Escolha a cor do QR Code:</h3>
						<div class="form-group content__img">
							<label for="get-color" class="form-group__title">Cor: </label>
							<input type="text" id="get-color" maxlength="22" name="get-color" class="field__input-color"
							placeholder="Red, #FF0000, rg(255,0,0)" >
							<div class="get-color__field">
								<label for="color-select" class="chromatic-circle__label">
									<img src="/images/circulo-cromatico.png" alt="Círculo cromático"
									class="chromatic-circle">
								</label>
							</div>
							<div class="msg-error">
							</div>
						</div>
						<div class="danger">
							<small id="color-error">
								Por favor, informe uma cor ou escolha clicando na imagem.
							</small>
						</div>
					</div>
					<div class="color-select__content">
						<input type="color" name="color-select" id="color-select">
					</div>
				</li>
			</ol>
			<div class="qr-code__preview">
				<div class="preview__content">
					<div class="preview__text">
						<h2>PRÉ VISUALIZAÇÃO DO QR CODE</h2>
					</div>
					<div class="preview__bg"> </div>
					<!-- imagem que será exibida no préview -->
				</div>
				<div class="btn-download__content">
					<button class="btn btn-download disabledBtnDownload" id="download" type="submit">Download</button>
				</div>
			</div>
		</form>
	</main>
	<footer class="qr-code__footer">
		<!-- BOTÃO HELP -->
		<div class="button-help btn__home-help">
			<a href="/help" aria-label="Ir para à página de ajuda" role="link">
				<ion-icon name="help-outline"></ion-icon>
			</a>
		</div>
	</footer>

	<!--Linhas superiores-->
	<div class="linhas-esquerda">
		<hr class="vertical-esq">
		<hr class="horizontal-esq">
	</div>
	<!--Linhas inferiores-->
	<div class="linhas-direita">
		<hr class="vertical-dir">
		<hr class="horizontal-dir">
	</div>

	<script src="/js/qrcodegenerator.js"></script>
</body>

</html>