<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My big Whale - QRCode</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/qrcodegenerator.css">

	<!-- Scripts para Ion icons -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-BVGCNK1G97');
	</script>

</head>

<body>
	<header class="qr-code__header">
		<!-- BOTÃO HOME -->
		<div class="button-home btn__home-help">
			<a href="/#seguranca" aria-label="Ir para à página inicial" role="link">
				<ion-icon name="return-down-back-outline"></ion-icon>
			</a>
		</div>
	</header>
	<main class="qr-code__container">
		<h1 class="container__title" role="hea" aria-level="1">Cria QR Code</h1>
		<form th:action="@{/documents/qrcodegenerator}" class="form" method="POST" enctype="multipart/form-data"
			th:object="${form}" id="form">
			<ol class="qr-code__list">

				<!-- Radio inputs -->
				<li class="form-group__list">
					<h3 class="list__title">Selecione o tipo</h3>
					<ul class="form-group list__items" id="ul-types">
						<li class="items__group">
							<label for="link-checked" class="item-name">
								Link
								<input type="radio" name="types" id="link-checked" class="radio" checked value="link">
							</label>
						</li>
						<li class="items__group">
							<label for="email-checked" class="item-name">
								Email
								<input type="radio" name="types" id="email-checked" class="radio" value="email">
							</label>
						</li>
						<li class="items__group">
							<label for="wapp-cheked" class="item-name">
								Whatsapp
								<input type="radio" name="types" id="wapp-cheked" class="radio" value="whatsapp">
							</label>
						</li>
						<input type="text" th:field="*{dataType}" id="dataType" name="dataType" value="" class="radio">
					</ul>
				</li>

				<!-- link, number and email input  -->
				<li class="form-group__list">
					<h3 class="list__title" id="list-title"></h3>
					<!-- qrCode para link -->
					<div class="form-group__container">
						<div class="form-group form-group__content" id="form-group-link">
							<label for="link">Url</label>
							<input type="text" class="link__field" name="link" th:field="*{link}" id="link"
								placeholder="https://mybigwhale.com" />
						</div>
					</div>
					<!-- qrcode para email -->
					<div class="form-group__container">
						<div class="form-group form-group-email disable__input-choice" id="form-group-email">
							<div class="form-group__content">
								<div class="email-address-subject">
									<label for="email">Destinatário</label>
									<input type="email" class="link__field" name="email" th:field="*{email}" id="email"
										placeholder="big-whale@email.com">
								</div>
								<div class="email-address-subject">
									<label for="title-email">Assunto</label>
									<input type="text" class="link__field" name="title-email" th:field="*{titleEmail}"
										id="title-email" placeholder="Assunto">
								</div>
							</div>
							<div class="text-email__container">
								<label for="text-email">Mensagem do email</label>
								<textarea name="text-email" id="text-email" placeholder="Digite sua mensagem aqui..."
									th:field="*{textEmail}" class="text-email"></textarea>
							</div>
						</div>
					</div>
					<!-- qrCode para whatsapp -->
					<div class="form-group__container">
						<div class="form-group wapp__field disable__input-choice" id="form-group-wapp">
							<div class="form-group__content">
								<label for="wapp">Número</label>
								<div class="form-group__input-number">
									<div class="country-flag-code__container" id="flag-code">
										<img src="https://flagsapi.com/BR/flat/64.png" alt='BR' id="country-flag"
											class="country__flag">

										<!-- Aqui vai ser a implementação para gerar uma lista de flags e code mais para frente
										<label for="select-flag-code">  
										</label>
										<ul name="select-flag-code" id="list-flag-code" class="select-flag-code disabled-select-flag-code">
										</ul>
										<input type="button" style="display: none;" id="select-flag-code"/> -->
									</div>
									<input type="text" class="link__field wapp-number" name="wapp"
										th:field="*{phoneNumber}" id="wapp" placeholder="+55 (55) 5555-5555"
										maxlength="25">
								</div>
							</div>
							<div class="form-group__input-text">
								<label for="wapp-text">Mensagem</label>
								<textarea name="wapp-texto" id="wapp-text" th:field="*{text}" placeholder="Alô, você!"
									class="text-wapp">
							</textarea>
							</div>
						</div>
					</div>
				</li>

				<!-- Choose color input-->
				<li class="form-group__list">
					<div class="list-color__content">
						<h3 class="list__title">Escolha a cor do QR Code:</h3>
						<div class="form-group content__img">
							<label for="get-color" class="form-group__title">Cor: </label>
							<input type="text" id="get-color" maxlength="22" name="get-color" class="field__input-color"
								placeholder="#FF0000, rgb(255,0,0)" th:field="*{pixelColor}">
							<div class="get-color__field">
								<label for="color-select" class="chromatic-circle__label">
									<img src="/images/circulo-cromatico.png" alt="Círculo cromático"
										class="chromatic-circle" />
								</label>
							</div>
							<div class="color-select__content">
								<input type="color" name="color-select" id="color-select" />
							</div>
						</div>
					</div>
				</li>
			</ol>
			<div class="qr-code__preview">
				<div class="preview__content">
					<img src="/images/QRCodePreviewExample.png" alt="qr-code gerado" class="preview__bg" />
					<!-- imagem que será exibida no préview -->
				</div>
				<div class="btn-download__content">
					<button class="btn btn-download" id="btnSubmit" type="submit">Download</button>
				</div>
			</div>
		</form>
	</main>
	<footer class="qr-code__footer">
		<!-- BOTÃO HELP -->
		<div class="button-help btn__home-help">
			<a href="/help" aria-label="Ir para à página de ajuda" role="link">
				<ion-icon name="help-outline"></ion-icon>
			</a>
		</div>
	</footer>

	<!--Linhas superiores-->
	<div class="linhas-esquerda">
		<hr class="vertical-esq">
		<hr class="horizontal-esq">
	</div>
	<!--Linhas inferiores-->
	<div class="linhas-direita">
		<hr class="vertical-dir">
		<hr class="horizontal-dir">
	</div>

	<script src="/js/qrcodegenerator.js"></script>
</body>

</html>