<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My big Whale - QRCode</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/qrcodegenerator.css">

	<!-- Scripts para Ion icons -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-BVGCNK1G97');
	</script>

</head>

<body>
	<!-- Linha superior esquerdo -->
	<div class="line line__left-top"></div>

	<header class="qr-code__header">
		<!-- BOTÃO HOME -->
		<div class="button-home btn__home-help">
			<a href="/#seguranca" aria-label="Ir para à página inicial" role="link">
				<ion-icon name="return-down-back-outline"></ion-icon>
			</a>
		</div>
	</header>
	<main class="qr-code__container">
		<h1 class="container__title" role="hea" aria-level="1">Cria QR Code</h1>
		<form th:action="@{/documents/qrcodegenerator}" class="form" method="POST" enctype="multipart/form-data"
			th:object="${form}" id="form">
			<ol class="form-group">
				<li class="form-group__list">
					<h3 class="list__title">Selecione o tipo</h3>
					<ul class="list__items">
						<li class="items__group">
							<input type="checkbox" name="email" id="email">
							<label for="email">Email</label>
						</li>
						<li class="items__group">
							<input type="checkbox" name="whatsapp" id="whatsapp">
							<label for="whatsapp">Whatsapp</label>
						</li>
						<li class="items__group">
							<input type="checkbox" name="link-checked" id="link-checked">
							<label for="link-checked">Link</label>
						</li>
						<li class="items__group">
							<input type="checkbox" name="pdf" id="pdf">
							<label for="pdf">PDF</label>
						</li>
					</ul>
				</li>
				<li class="form-group__list list-url__content">
					<label for="link" class="link__label">
						<h3 class="list__title">Insira a url</h3>
					</label>
					<input type="text" class="link__field" name="link" th:field="*{link}" id="link"
						pattern="https?://.+" placeholder="Insira a URL aqui">
					<div class="msg-error">
						<small th:errors="*{link}" class="text-danger">Insira a url</small>
					</div>
				</li>
				<li class="form-group__list">
					<div class="list-color__content">
						<h3 class="list__title">Escolha a cor do QR Code:</h3>
						<div class="content__img">
							<label for="color-select">
								<img src="/images/circulo-cromatico.png" alt="Círculo cromático"
									class="chromatic-circle">
							</label>
							<div class="get-color__field">
								<label for="get-color">Digite o nome ou o código da cor</label>
								<input type="text" id="get-color" name="get-color" class="field__input-color" placeholder="Insira o nome ou código da cor">
							</div>
						</div>
					</div>
					<div class="color-select__content">
						<input type="color" name="color-select" id="color-select">
					</div>
				</li>
			</ol>
			<div class="qr-code__preview">
				<div class="preview__content">
					<div class="preview__text">
						<h2>PRÉ VISUALIZAÇÃO DO QR CODE</h2>
					</div>
					<img src="/" alt="Qrcode gerado" class="preview__img" style="display: none;">
					<!-- imagem que será exibida no préview -->
				</div>
				<div class="btn-download__content">
					<button class="btn btn-download disabledBtnDownload" type="submit">Download</button>
				</div>
			</div>
		</form>
	</main>
	<footer class="qr-code__footer">
		<!-- BOTÃO HELP -->
		<div class="button-help btn__home-help">
			<a href="/help" aria-label="Ir para à página de ajuda" role="link">
				<ion-icon name="help-outline"></ion-icon>
			</a>
		</div>
	</footer>

	<!-- Linha inferior direito -->
	<div class="line line__right-bottom"></div>

	<script src="/js/qrcodegenerator.js"></script>
</body>

</html>