<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My big Whale - Texto Extraído</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  <style>
    body {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 5%;
    }
    label{
      width: 20%;
    }
  </style>

   <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BVGCNK1G97"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BVGCNK1G97');
  </script>

</head>




<body>
  <h3>Texto extraído da imagem:</h3>
  <label th:text="${extractedText}"></label>
  <a href="/"><text class="btn btn-outline-danger rounded-circle robotomono" type="submit" style="width: 50px; height: 50px;"></text></a>
</body>
</html>