.menu-logo{
    margin-top: 5em;
}

.menu-about{
    margin-top: 5em;
}

.collaborator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container__footer{
    display: flex;
    flex-direction: row;
    padding: 56px 125px;
    justify-content: space-between;
}