<div class="menu-bar">
    <app-menu-bar></app-menu-bar>
</div>

<div class="menu-logo">
    <app-menu-logo></app-menu-logo>
</div>

<div class="menu-carrossel">
    <app-menu-carrossel id="design"
    title="Design"
    ></app-menu-carrossel>

    <app-menu-carrossel id="#seguranca"
    title="Segurança"
    ></app-menu-carrossel>

    <app-menu-carrossel id="#documentos"
    title="Documentos"
    ></app-menu-carrossel>

</div>


<div class="menu-about">
    <app-menu-about></app-menu-about>

</div>

<div class="collaborator">

    
    <app-collaborator *ngFor="let colaborador of colaboradores"
    [name]="colaborador.nomeColaborador"
    [photo]="colaborador.imgSrc"
    [altText]="colaborador.altText"
    [linkLinkedin]="colaborador.link"
    ></app-collaborator>


  
    
</div>

<hr>

<footer class="container__footer">
    <p>© Whale - 2023</p>
    <p>contact@mybigwhale.com</p>
</footer>