.btn-download {
    border-radius: 50px;
    background: #25BFBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    width: 200px;
    height: 63px;
    transition: 0.2s;
}

.btn-download:hover {
    background-color: #158E8E;
}